<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
    <title>About page</title>
</head>
<body>
     {{>navbar}}


      <div class="container" id="main_about">
          <div class="AboutImg">
              <img src="images/Wheather_img1.jpg" alt="">
          </div>
          <div class="AboutInfo">
              <h2>Weather Web App Info</h2>
              <h3>Hey, This is the best <span>Weather</span> Weather web app and provide real time data</h3>
              <button id="CheckBtn">Check Now</button>
          </div>
      </div>

      {{>footer}}
</body>
</html>